* 
h1 {
    color: rgb(255, 255, 255);
    font-family:'Montserrat', 'Montserrat';
}
a:visited {
    color: rgb(255, 255, 255);
}

nav {
    background-color: rgba(25, 53, 99, 0.543);
}

body {
	font-family: 'Montserrat', 'Montserrat';    
	margin: 30px auto;
    background-color: rgb(14, 31, 59);
    padding-right: 5%;
    padding-left: 5%;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:  r gba(229, 230, 233, 0.772);
    margin-bottom: 5%;
}

img {
    text-align: center;
    max-width: 400%;
    height: 420px;
    width: 400px;
    object-fit: cover;
    transition: transform .2s;
    margin: 2%;
}




