* 
h1 {
    color: rgb(255, 255, 255);
    font-family:'Montserrat', 'Montserrat';
}
a:visited {
    color: rgb(255, 255, 255);
}

nav {
    background-color: rgba(25, 53, 99, 0.543);
}

body {
	font-family: 'Montserrat', 'Montserrat';    
	margin: 30px auto;
    background-color: rgb(14, 31, 59);
    padding-right: 5%;
    padding-left: 5%;
}



nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8ch;
    background-color:  r gba(229, 230, 233, 0.772);
    margin-bottom: 4%;
}

img {
    text-align:justify;
    max-width: 500%;
    height: 472px;
    width: 428px;
    object-fit:cover;
    transition: transform .2s;

}




